#root {
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
